#在終端機上打 pip install -r requirements.txt

In [1]:
import yfinance as yf
df = yf.download('2330.TW', start='2024-01-01', end='2024-06-01',auto_adjust=True)
df.tail()

[*********************100%***********************]  1 of 1 completed

Price        Close    High     Low    Open    Volume
Ticker     2330.TW 2330.TW 2330.TW 2330.TW   2330.TW
Date
2024-05-27   869.0   878.0   866.0   872.0  26726954
2024-05-28   865.0   873.0   865.0   867.0  25329216
2024-05-29   857.0   868.0   856.0   861.0  33436835
2024-05-30   838.0   848.0   838.0   841.0  38065102
2024-05-31   821.0   846.0   821.0   838.0  77438401

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 98 entries, 2024-01-02 to 2024-05-31
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Close, 2330.TW)   98 non-null     float64
 1   (High, 2330.TW)    98 non-null     float64
 2   (Low, 2330.TW)     98 non-null     float64
 3   (Open, 2330.TW)    98 non-null     float64
 4   (Volume, 2330.TW)  98 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.6 KB

In [3]:
df['Close']

Ticker      2330.TW
Date
2024-01-02    593.0
2024-01-03    578.0
2024-01-04    580.0
2024-01-05    576.0
2024-01-08    583.0
...             ...
2024-05-27    869.0
2024-05-28    865.0
2024-05-29    857.0
2024-05-30    838.0
2024-05-31    821.0

[98 rows x 1 columns]

In [4]:
tw2330 = yf.download('2330.TW', start='2024-01-01', end='2024-06-01',auto_adjust=True)
tw2303 = yf.download('2303.TW', start='2024-01-01', end='2024-06-01',auto_adjust=True)
tw2454 = yf.download('2454.TW', start='2024-01-01', end='2024-06-01',auto_adjust=True)  
tw2317 = yf.download('2317.TW', start='2024-01-01', end='2024-06-01',auto_adjust=True)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
#先取出所有股票的「Close」欄位（會得到一個只有股票代碼為欄位的 DataFrame），再從中選出「2330.TW」這一欄。
tw2330['Close']['2330.TW']

#直接用 tuple 指定 MultiIndex 欄位，等同於一次選出「Close」和「2330.TW」這個組合的欄位。
tw2330[('Close','2330.TW')]
tw2303[('Close','2303.TW')]
tw2454[('Close','2454.TW')]
tw2317[('Close','2317.TW')]